<md-content layout-align="center center"  layout-sm="column" layout-padding class="autoScroll">
  <md-card class="md-padding">
      <md-input-container class="md-icon-float" >
          <!-- Use floating label instead of placeholder -->
          <label>Actor *</label>
          <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/design/ic_person_24px.svg" class="name"></md-icon>
          <input  type="text">
      </md-input-container>
      <md-input-container class="md-icon-float">
          <label>Perfil *</label>
          <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/design/ic_person_24px.svg" class="name"></md-icon>
          <input  type="text">
      </md-input-container>
      <md-input-container class="md-icon-float">
          <label>Nombre de Usuario *</label>
          <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/design/ic_person_24px.svg" class="name"></md-icon>
          <input  type="text" ng-required="true">
      </md-input-container>
      <md-input-container md-no-float>

          <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/design/ic_person_24px.svg" class="name"></md-icon>
          <input  type="password">
      </md-input-container>
  </md-card>
</md-content>

